---
<h1>Week 2: Practical Pandas</h1>


---

---
<h1>RECAP</h1>

<h4>
<ol>
    <li>Numpy Arrays</li>
    <li>Pandas Series</li>
    <li>Pandas DataFrames</li>
    <li>Basic Manipulation in Pandas DataFrames</li>
</ol>
</h4>

---

In [1]:
# If you haven't so

!pip install pandas
!pip install numpy

error: externally-managed-environment

× This environment is externally managed
╰─> To install Python packages system-wide, try apt install
    python3-xyz, where xyz is the package you are trying to
    install.

    If you wish to install a non-Debian-packaged Python package,
    create a virtual environment using python3 -m venv path/to/venv.
    Then use path/to/venv/bin/python and path/to/venv/bin/pip. Make
    sure you have python3-full installed.

    If you wish to install a non-Debian packaged Python application,
    it may be easiest to use pipx install xyz, which will manage a
    virtual environment for you. Make sure you have pipx installed.

    See /usr/share/doc/python3.12/README.venv for more information.

note: If you believe this is a mistake, please contact your Python installation or OS distribution provider. You can override this, at the risk of breaking your Python installation or OS, by passing --break-system-packages.
hint: See PEP 668 for the detailed specification.
error: externally-managed-environment

× This environment is externally managed
╰─> To install Python packages system-wide, try apt install
    python3-xyz, where xyz is the package you are trying to
    install.

    If you wish to install a non-Debian-packaged Python package,
    create a virtual environment using python3 -m venv path/to/venv.
    Then use path/to/venv/bin/python and path/to/venv/bin/pip. Make
    sure you have python3-full installed.

    If you wish to install a non-Debian packaged Python application,
    it may be easiest to use pipx install xyz, which will manage a
    virtual environment for you. Make sure you have pipx installed.

    See /usr/share/doc/python3.12/README.venv for more information.

note: If you believe this is a mistake, please contact your Python installation or OS distribution provider. You can override this, at the risk of breaking your Python installation or OS, by passing --break-system-packages.
hint: See PEP 668 for the detailed specification.

In [3]:
import pandas as pd
import numpy as np

---
<h2>This Week we will focus on advanced and practical pandas</h2>

1. Topic 1 (50 mins): Advanced Pandas
2. Topic 2 (50 mins): Practical Pandas

---

---
<h2>Topic 1: Advanced Pandas </h2>

---

In [16]:
# Example Data for Diabetes

df = pd.DataFrame({"height": [146, 151, 167, 176], "weight": [95, 55, 67, 92], "diabetes": [True, False, False, False]})

df

   height  weight  diabetes
0     146      95      True
1     151      55     False
2     167      67     False
3     176      92     False

---
<h4>Task 1</h4>
For every row, we want to create a new column called "obese" with these conditions:

1. if height < 180 and weight > 90
2. if weight > 90 and diabetes is true
---

In [17]:
def is_obese(row):
  if row["height"] < 180 and row["weight"] > 90:
    return True
  elif row["weight"] > 90 and row["diabetes"] == "Yes":
    return True
  else:
    return False

df["obese"] = df.apply(is_obese, axis=1)
df

   height  weight  diabetes  obese
0     146      95      True   True
1     151      55     False  False
2     167      67     False  False
3     176      92     False   True

---
<h4>Task 2</h4>
For every row, we want to create a series called "means" that includs each column's means (if numeric) and mode (if binary)

---

In [20]:
def mean_check(x):
    if x.dtype == "int64":
        return x.mean()
    if x.dtype == "bool":
        return x.mode()
means = df.apply(mean_check, axis=0)
means

height                                               160.0
weight                                               77.25
diabetes            0    False
Name: diabetes, dtype: bool
obese       0    False
1     True
Name: obese, dtype: bool
dtype: object

<img src="./images/apply.jpg"/>

---
<h1>Pandas Group By</h1>

---

---
<h4>Task 2</h4>
We want to create a dataframe with two rows: diabetes and non diabetes, each row must contain the mean in their respective group

---

In [21]:
g = df.groupby("diabetes")

# creates a groupby object

In [23]:
def means(x):
    return x.mean()

my_df = g.agg({"height": means, "weight": means, "obese": means})

my_df

              height     weight     obese
diabetes
False     164.666667  71.333333  0.333333
True      146.000000  95.000000  1.000000

<img src="./images/agg.jpg">

In [25]:
df2 = pd.DataFrame({"ID": [119, 121, 885, 635, 734, 85, 122, 152, 537], "country": ["US", "UK", "AUS", "NZ", "US", "US", "AUS", "NZ", "UK"], "score": [170, 110, 121, 155, 75, 66, 120, 117, 165], "bench": [120, 110, 135, 125, 121, 117, 122, 132, 136]})

df2

    ID country  score  bench
0  119      US    170    120
1  121      UK    110    110
2  885     AUS    121    135
3  635      NZ    155    125
4  734      US     75    121
5   85      US     66    117
6  122     AUS    120    122
7  152      NZ    117    132
8  537      UK    165    136

---
Task: Get a series that displays each country's mean bench and max score with respect to their group

---

In [27]:
def means(x):
    return x.mean()

def maxs(x):
    return x.max()

g = df2.groupby("country")

result = g.agg({"score": maxs, "bench": means})

result

         score       bench
country
AUS        121  128.500000
NZ         155  128.500000
UK         165  123.000000
US         170  119.333333

---
<h3>Topic 1 Practice</h3>

---

In [31]:
df = pd.DataFrame({"Date": pd.to_datetime(["2025-01-05", "2025-01-07", "2025-01-09", "2025-01-22", "2025-01-27", "2025-01-17", "2025-02-01", "2025-02-05", "2025-02-17", "2025-02-18", "2025-02-24", "2025-03-01", "2025-03-07", "2025-04-02"]), 
                   "Price": [15, 18, 250, 19, 5, 720, 75, 15, 16, 78, 120, 44, 32, 17], 
                   "Weight": [12.5, 11.5, 60, 23, 6, 120, 7, 72, 3, 5, 12.5, 11.5, 16.2, 27], 
                   "Category": ["Ceramic", "Ceramic", "Gadget", "Kitchen", "Kitchen", "Furniture", "Ceramic", "Ceramic", "Gadget", "Furniture", "Gadget", "Stationery", "Stationery", "Stationery"], 
                   "Location": ["Bristol", "Bristol", "London", "Bristol", "Manchester", "Manchester", "Leeds", "Bristol", "London", "London", "Cambridge", "Brighton", "Brighton", "Leeds"]})

df

         Date  Price  Weight    Category    Location
0  2025-01-05     15    12.5     Ceramic     Bristol
1  2025-01-07     18    11.5     Ceramic     Bristol
2  2025-01-09    250    60.0      Gadget      London
3  2025-01-22     19    23.0     Kitchen     Bristol
4  2025-01-27      5     6.0     Kitchen  Manchester
5  2025-01-17    720   120.0   Furniture  Manchester
6  2025-02-01     75     7.0     Ceramic       Leeds
7  2025-02-05     15    72.0     Ceramic     Bristol
8  2025-02-17     16     3.0      Gadget      London
9  2025-02-18     78     5.0   Furniture      London
10 2025-02-24    120    12.5      Gadget   Cambridge
11 2025-03-01     44    11.5  Stationery    Brighton
12 2025-03-07     32    16.2  Stationery    Brighton
13 2025-04-02     17    27.0  Stationery       Leeds

<h4>Task 1: Make a new column called weight_to_price that is essentially weight / price </h4>

In [ ]:
# Your code here

<h4>Task 2: Make a new column called "suspicious" with these conditions:</h4>

1. If weight_to_price > 1 and category is not furniture or kitchen then give it a score of 10
2. If it's ceramic, from brighton and it's sold on january then give it a score of 20
3. If weight_to_price > 2, and it's ceramic and it's sold on february then give it a score of 30

In [ ]:
# Your code here

<h4>Task 3: remove the top 10% most suspicious items in the dataframe, you may round up if there are decimal points</h4>

In [ ]:
# Your code here

<h4>Task 4: Make a new series called location_std that:</h4>

1. Each row is a location
2. It contains the standard deviation (look up in google) of weight_to_price ratio
3. It contains the least suspicious item in that location

In [32]:
# Your code here

---
<h2>Topic 2: Practical Pandas</h2>

---

we have talked a lot about theory, but now let's focus on real life pandas.

In real life, we don't make up dataframes, we receive or extract it from external sources, run this code below to extract data from a CSV file (comma separated file)

In [28]:
df = pd.read_csv("./co2_emissions.csv")

df

,Make,Model,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City (L/100 km),Fuel Consumption Hwy (L/100 km),Fuel Consumption Comb (L/100 km),Fuel Consumption Comb (mpg),CO2 Emissions(g/km)
0,ACURA,ILX,COMPACT,2.0,4,AS5,Z,9.9,6.7,8.5,33,196
1,ACURA,ILX,COMPACT,2.4,4,M6,Z,11.2,7.7,9.6,29,221
2,ACURA,ILX HYBRID,COMPACT,1.5,4,AV7,Z,6.0,5.8,5.9,48,136
3,ACURA,MDX 4WD,SUV - SMALL,3.5,6,AS6,Z,12.7,9.1,11.1,25,255
4,ACURA,RDX AWD,SUV - SMALL,3.5,6,AS6,Z,12.1,8.7,10.6,27,244
...,...,...,...,...,...,...,...,...,...,...,...,...
7380,VOLVO,XC40 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,10.7,7.7,9.4,30,219
7381,VOLVO,XC60 T5 AWD,SUV - SMALL,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7382,VOLVO,XC60 T6 AWD,SUV - SMALL,2.0,4,AS8,Z,11.7,8.6,10.3,27,240
7383,VOLVO,XC90 T5 AWD,SUV - STANDARD,2.0,4,AS8,Z,11.2,8.3,9.9,29,232
7384,VOLVO,XC90 T6 AWD,SUV - STANDARD,2.0,4,AS8,Z,12.2,8.7,10.7,26,248

What is this data telling us? What is the context behind it?

---
<h2>Pandas Datatypes</h2>

---

---
<h2>The General Cleaning Framework</h2>

---