---
<h1>Week 2: Practical Pandas</h1>
<h2>Topic 1: Advanced Pandas</h2>
<h2>Topic 2: Working with Messy Data</h2>

---

---
<h1>RECAP</h1>

<h4>
<ol>
    <li>Numpy Arrays</li>
    <li>Pandas Series</li>
    <li>Pandas DataFrames</li>
    <li>Basic Manipulation in Pandas DataFrames</li>
</ol>
</h4>

---

In [19]:
# If you haven't so

!pip install pandas
!pip install numpy

Requirement already satisfied: pandas in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (from pandas) (2.4.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (from pandas) (2025.3)
Requirement already satisfied: six>=1.5 in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: numpy in /home/chris/bdss/bdss-ws2526/bdss/lib/python3.12/site-packages (2.4.1)

In [20]:
import pandas as pd
import numpy as np

In [21]:
L1 = [2, 3, 1, 5] # ordinary python list
L2 = [6, 6, 2, 4]

NL1 = np.array(L1) # numpy array
NL2 = np.array(L2)

NL1 + NL1 ** 2 - (NL1 / NL2) # vectorised operations

array([ 5.66666667, 11.5       ,  1.5       , 28.75      ])

In [22]:
S1 = pd.Series([90, 60, 30, 40], index=["A", 3, "Z", 2])
S2 = pd.Series([70, 20, 30], index=["Z", 2, 9])

S1 + S2 # vectorised operations over series, resulting index automatically ordered alphanumerically

2     60.0
3      NaN
9      NaN
A      NaN
Z    100.0
dtype: float64

In [23]:
S1["New"] = 10 # add new element
S1.drop("A", inplace=True) # remove element

S1

3      60
Z      30
2      40
New    10
dtype: int64

In [24]:
print(S1.values) # access numpy array of values
print(S1.index) # access numpy array of indices (immutable)

[60 30 40 10]
Index([3, 'Z', 2, 'New'], dtype='object')

In [25]:
age = pd.Series([14, 16, 27, 33], index=[1, 2, 3, 4])
name = pd.Series(["Alice", "Bob", "Charlie", "David"], index=[1, 2, 3, 4])

df = pd.DataFrame({"Age": age, "Name": name}) # dataframe creation
df

   Age     Name
1   14    Alice
2   16      Bob
3   27  Charlie
4   33    David

In [26]:
print(df.columns) # access list of columns 
print(df.index) # access list of indices
print(df.values) # prints matrix of values

Index(['Age', 'Name'], dtype='object')
Index([1, 2, 3, 4], dtype='int64')
[[14 'Alice']
 [16 'Bob']
 [27 'Charlie']
 [33 'David']]

In [27]:
df.loc[5] = [18, "Elsa"] # making a new row
df["country"] = ["Denmark", "USA", "Japan", "South Africa", "Argentina"] # making a new column
df

   Age     Name       country
1   14    Alice       Denmark
2   16      Bob           USA
3   27  Charlie         Japan
4   33    David  South Africa
5   18     Elsa     Argentina

In [29]:
df.drop(5, axis=0, inplace=True) # dropping a row
df.drop("country", axis=1, inplace=True) # dropping a column
df